DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=campususer
DB_PASSWORD=campuspass
DB_DATABASE=campusexchange
MYSQL_ROOT_PASSWORD=rootpass

JWT_SECRET=mysecretkey
PORT=3000
CORS_ORIGIN=http://localhost:4200